div{
  color: blue;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  width: 100%;
}

p {
    display: inline;
}

.delButton {
  float: right;
  margin: 0;
  padding-right: 20px;
}
